APP_NAME=JotaOrchestrator
APP_ENV=development
DEBUG=true

# Internal Services Authentication
ORCHESTRATOR_ID=jota_orchestrator
ORCHESTRATOR_API_KEY=your_orchestrator_key_here

# JotaDB
JOTA_DB_URL=http://green-house.local/api/db/
JOTA_DB_SK=your_server_key_here

# Transcription Service
TRANSCRIPTION_SERVICE_URL=ws://localhost:9002

# Inference Service
INFERENCE_SERVICE_URL=ws://localhost:9001

# SSL/TLS & Validation
SSL_VERIFY=true
